@model LostManagementApp.Models.Lost

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lost</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFound)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFound)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LostDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LostDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoundDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoundDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LostItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LostItem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LostPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LostPlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LostDetailedPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LostDetailedPlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LostId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
