@model IEnumerable<LostManagementApp.Models.Lost>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<!-- LostController.Detail へのベースURLを埋め込む -->
<div id="lost-config" data-detail-url="@Url.Action("Detail", "Lost")"></div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsFound)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LostDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoundDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LostItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LostPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LostDetailedPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsFound)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LostDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoundDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LostItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LostPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LostDetailedPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LostId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LostId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LostId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


